.contenedor-orders{
    width: 100vw;
    height: 100vh;
    font-size: 0.8em;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    div{
        margin: 1.5em;
    }
}
/*NOMBRES DE LOS CAMPOS DE LA TABLA QUE APARECEN ARRIBA EN LA VISTA*/
.nombres-campos{
    width: 100%;
    ul{        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    ul li{
        all: unset;
        width: 11%;
        text-align: left;
        padding: 0.5em 0;
        color: rgb(180, 175, 175);
        font-weight: bold;
        margin-right: 0.25em;
    }
}
/*LISTADO DE LOS ORDERS MOSTRADOS EN LA PAGINA*/
.listado-orders{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 0.8em;
}
/*CADA CAMPO DE CADA REGISTRO DE ORDER MOSTRADO*/
input, input:read-only, .acciones{
    all: unset;
    width: 11%;
    border-top: 0.1em solid rgb(233, 233, 233);
    padding: 1.5em 0;
    margin-right: 0.25em;
}
input{
    background-color: rgb(233, 233, 233);
    border-radius: 0.25em;
    padding: 0.25em 0;
}
.acciones img{
    width: 1em;
    margin-left: 0.75em;
    cursor: pointer;
}
/*CUADRO PARA ACTUALIZAR USUARIO*/
.actualizacion-order-fondo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.815);
    z-index: 3;
}
.actualizacion-order{
    position: absolute;
    top: 25vh;
    left: 35vw;
    width: 30vw;
    height: 50vh;
    border-radius: 0.3em;
    background-color: white;
    box-shadow: 0px 0px 20px 2px rgb(184, 184, 184);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    .inputs-editables{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        label{
            font-weight: bold;
        }
    }
    input{
        font-weight: normal;
        border: 0.1em solid rgb(167, 167, 167);
        background-color: rgb(226, 226, 226);
        width: 10em;
        margin: 0.5em 1em;
        cursor: text;
        padding-left: 0.25em;
    }
    .botones-actualizar{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 1em;
        div{
            margin: 0 1em;
            cursor: pointer;
        }
    }
}
/*BOTONES DE PAGINACION*/
.botones-paginacion{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 1em;
    div{
        text-align: center;
        margin: 0 1em;
        cursor: pointer;
        background-color: rgb(239, 244, 248);
        border-radius: 0.5em;
        width: 2em;
        height: 2em;
        padding-top: 0.5em;
    }
    div:hover{
        background-color: rgb(184, 199, 231);
    }
}
/*ESTILO PARA LOS BOTONES*/
.boton{
    padding: 1em 2em;
    color: white;
    background-color: rgb(99, 32, 255);
    font-weight: bold;
    border-radius: 0.3em;
    cursor: pointer;
}